<app-navbar></app-navbar>
<div class="container">
  <h3> Log into your account!</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          type="email"
          matInput
          placeholder="Email"
        />
      </mat-form-field>
    
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          placeholder="Password"
          type="password"
          formControlName="password"
          matInput
        />
      </mat-form-field>
    </div>
    <div>
      <button
        mat-raised-button
        type="submit"
        (click)="onSubmit()"
	>
        Login
      </button>
    </div>
  </form>
  <button mat-raised-button routerLink="../signup">
      Sign up
   </button>
</div>